<div class="row">
  <div class="col-md-6 form-group ">
    <input placeholder="First Name" class="form-control">
  </div>    

      <div class="col-md-6 form-group ">
        <input placeholder="Last Name" class="form-control">
      </div> 

       <div class="col-md-6 form-group ">
            <input placeholder="Designation " class="form-control">
       </div>  

          <div class="col-md-6 form-group ">
                <input placeholder="contact" class="form-control">
          </div> 

          <div class="col-md-6 form-group ">
                <input placeholder="Address" class="form-control">
          </div>  
              
              
 </div>









<div>
    <div class="col-md-8">
       <button class="btn btn-success btn-block btn-lg"> <i class="fa fa-save"></i> SAVE</button>
    </div>

    <div class="col-md-4">
        <button class="btn btn-success btn-block btn-lg"> <i class="fa fa-retweet"></i>CLEAR</button>
    </div>
    
</div>