  <div class="table table-hover">
    
    <tr *ngFor="let emp of allEmployee">
        <td>{{emp.firstName}}</td>
        <td>{{emp.address}}</td>
        <td>{{emp.designation}}</td>
        <td>
                <a class="btn">
                        <i class="fa fa-edit"></i>
                </a>
        </td>
        <td>
                         <a class="btn text-danger">
                           <i class="fa fa-trash"></i>
                         </a>  
        </td>
    </tr>
            
</div>
